fieldset {
  background-color: #FFE4B5;
  /* filter:alpha(opacity=80); */
  -moz-opacity:0.8;
  opacity: 0.8;
  padding:10px;
  text-align: left;

}

label {
  font-size:13px;
  display: inline;
  float: left;
  font-weight: bold;
  color:#000000;
  text-align: left;
}

input {
  font-size:13px;
  border:2px outset white;
  background-color: #DDDDDD;
  color:#000000;
  /* filter:alpha(opacity=80); */
  -moz-opacity:0.8;
  opacity: 0.8;
}

select {
  font-size:13px;
  border:2px outset white;
  background-color: #DDDDDD;
  color:#000000;
}

textarea {
  font-size:13px;
  border:2px outset white;
  background-color: #DDDDDD;
  color:#000000;
}

.imgButton {
  vertical-align: middle;
  border:0px;
  background-color:transparent;
}

.formTitle {
  font-size:13px;
  margin-top:20px;
  margin-bottom:0px;
  font-style:italic;
  text-align:left;
}
