#headertopout {
  height:190px;
  margin-left:1px;
  width:806;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../lib/skins/space/header.png', sizingMethod='scale');
}

#headertopout[id] {
  background-image: url('header.png');
}

#headertopin {
  height:1px;
  font-size:1px;
}

#headerbottomout {
  height:45px;
  margin-left:1px;
  width:806;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../lib/skins/space/footer.png', sizingMethod='scale');
  font-size:5px;
}

#headerbottomout[id] {
  background-image: url('footer.png');
}

#headerbottomin {
  height:5px;
  font-size:3px;
}

#headerleftout {
  width:1px;
  font-size:1px;
}

#headerleftin {
  width:189px;
}

#headerrightout {
  width:1px;
  font-size:1px;
}

#headerrightin {
  width:617px;
}
