#divmenu {
  margin:5px;
  position:relative;
  text-align: left;
  clear:both;
  border-style:solid;
  border-width:1px;
}

.cadremenutitle {
  padding-left:8px;
  padding-right:8px;
  padding-top:3px;
  padding-bottom:8px;
  margin: 15 10 15 10;
  position:relative;
  text-align: left;
  clear:both;
  border-style:solid;
  border-width:1px;
}

.tablemenu {
  margin-top:5px;
  margin-bottom:5px;
}

.menutitle {
  text-align:left;
  margin-top:8px;
  margin-bottom:8px;
}

.menutext {
  margin-top:5px;
  margin-bottom:5px;
}
