body {
  margin: 8px;
  padding: 0;
  text-align: center;
  height: 100%;
}

img {
  border: 0;
}

hr {
  border: none 0;
  border-top: 1px dashed #AAA;
  height: 1px;
}

#maintitle {
  position:relative;
  top:15px;
  left:20px;
}

#pagetitle {
  width:590px;
  text-align:left;
  padding-left:5px;
  padding-right:5px;
}

#mainbody {
  width:590px;
}

#nbUsers {
  text-align:center;
  font-size:10px;
  color:#FFFFFF;
}

#logout {
  position:relative;
  float:left;
  top:40px;
  left:0px;
  margin-left:10px;
}

#admin {
  position:relative;
  float:left;
  top:40px;
  left:30px;
  margin-left:50px;
}
