#headertopout {
  height:86px;
  width:808px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../lib/skins/explorator/header_top_out.png', sizingMethod='scale');
}

#headertopout[id] {
  background-image: url('header_top_out.png');
}

#headertopin {
  height:16px;
  width:790px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../lib/skins/explorator/header_top_in.png', sizingMethod='scale');
  font-size:5px;
}

#headertopin[id] {
  background-image: url('header_top_in.png');
}

#headerbottomout {
  height:13px;
  width:808px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../lib/skins/explorator/header_bottom_out.png', sizingMethod='scale');
  font-size:5px;
}

#headerbottomout[id] {
  background-image: url('header_bottom_out.png');
}

#headerbottomin {
  height:8px;
  width:790px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../lib/skins/explorator/header_bottom_in.png', sizingMethod='scale');
  font-size:5px;
}

#headerbottomin[id] {
  background-image: url('header_bottom_in.png');
}

#headerleftout {
  width:4px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../lib/skins/explorator/header_left_out.png', sizingMethod='scale');
  font-size:5px;
}

#headerleftout[id] {
  background-image: url('header_left_out.png');
}

#headerleftin {
  width:177px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../lib/skins/explorator/header_left_in.png', sizingMethod='scale');
}

#headerleftin[id] {
  background-image: url('header_left_in.png');
}

#headerrightout {
  width:14px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../lib/skins/explorator/header_right_out.png', sizingMethod='scale');
  font-size:3px;
}

#headerrightout[id] {
  background-image: url('header_right_out.png');
}

#headerrightin {
  width:613px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../lib/skins/explorator/header_right_in.png', sizingMethod='scale');
}

#headerrightin[id] {
  background-image: url('header_right_in.png');
}
