#modalContainer {
	background-color:transparent;
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:10000;
	background-image:url(tp.png); /* required by MSIE to prevent actions on lower z-index elements */
}

body > div#modalContainer {
	position: fixed;
}

#alertBox {
	position:relative;
	width:300px;
	min-height:100px;
	margin-top:50px;
     	border:2px solid #000;
	background-color:#F2F5F6;
	background-image:url(alert.png);
	background-repeat:no-repeat;
	background-position:20px 30px;
}

#modalContainer > #alertBox {
	position:fixed;
}

#alertBox h1 {
	margin:0;
	font:bold 0.9em verdana,arial;
	border-bottom:1px solid #000;
	padding:2px 0 2px 5px;
}

#alertBox p {
	font:0.7em verdana,arial;
	height:50px;
	padding-left:5px;
	margin:30 15 15 15;
}

#alertBox #closeBtn {
	display:block;
	position:relative;
	margin:5px auto;
	padding:3px;
	border:2px solid #000;
	width:70px;
	font:0.7em verdana,arial;
	text-transform:uppercase;
	text-align:center;
	text-decoration:none;
}

#alertBox #cancelBtn {
	display:block;
	float:left;
	position:relative;
	margin:5px auto;
	margin-left:20px;
        padding:3px;
	border:2px solid #000;
	width:70px;
	font:0.7em verdana,arial;
	text-transform:uppercase;
	text-align:center;
	text-decoration:none;
}

#alertBox #confirmBtn {
	display:block;
	float:right;
	position:relative;
	margin:5px auto;
	margin-right:20px;
        padding:3px;
	border:2px solid #000;
	width:70px;
	font:0.7em verdana,arial;
	text-transform:uppercase;
	text-align:center;
	text-decoration:none;
}

.errorAlert {
	background-color:#BB1818;
	color:#FFF;
}

.errorAlert:hover {
	color:#AAA;
}

.errorAlert:link {
	color:#FFF;
}

.errorAlert:visited {
	color:#FFF;
}

.warningAlert {
	background-color:#D9D918;
	color:#111;
}

.warningAlert:hover {
	color:#666;
}

.warningAlert:link {
	color:#111;
}

.warningAlert:visited {
	color:#111;
}

.confirmAlert {
	background-color:#189B18;
	color:#FFF;
}

.confirmAlert:hover {
	color:#AAA;
}

.confirmAlert:link {
	color:#FFF;
}

.confirmAlert:visited {
	color:#FFF;
}

.infoAlert {
	background-color:#189B18;
	color:#FFF;
}

.infoAlert:hover {
	color:#AAA;
}

.infoAlert:link {
	color:#FFF;
}

.infoAlert:visited {
	color:#FFF;
}

.requestConfirm {
	background-color:#18189B;
	color:#FFF;
}

.requestConfirm:hover {
	color:#AAA;
}

.requestConfirm:link {
	color:#FFF;
}

.requestConfirm:visited {
	color:#FFF;
}
