  .timeChat {
    color: #5f5;
    font-size: 12px;
    font-style:italic;
  }

  .userChat {
    color: #55f;
    font-size: 14px;
  }

  .userChatSelected {
    color: #55f;
    font-size: 14px;
    font-weight:bold;
    cursor:pointer;
  }

  .callChat {
    color: #55f;
    font-size: 14px;
  }

  .messageChat {
    color: #000;
    font-size: 14px;
  }

  .messageChat a:link {
    text-decoration:none;
    color: #595;
    font-size: 14px;
  }

  .messageChat a:visited {
    text-decoration:none;
    color: #595;
    font-size: 14px;
  }

  .messageChat a:active {
    text-decoration:none;
    color: #595;
    font-size: 14px;
  }

  .messageChat a:hover {
    text-decoration:none;
    color: #595;
    font-size: 14px;
  }

  div#blocMessage {
    background-color: #fff;
    width: 400px;
    height: 350px;
    overflow:scroll;
    overflow-x: hidden;
    border: 1px solid #000;
  }

  div#blocUsers {
    background-color: #fff;
    width: 150px;
    height: 350px;
    overflow:scroll;
    overflow-x: hidden;
    border: 1px solid #000;
  }

  div#blocCalls {
    width: 150px;
    height: 20px;
    color: #000;
    font-size: 14px;
  }

