#popchat_slidepop_box {
  position:absolute;
  -moz-border-radius: 20px;
  width:280px;
  height:60px;
  top:200px;
  left:-260px;
  background-color:#ffffff;
  border-color:#000000;
  border-width:3px;
  border-style:solid;
  z-index:10000;
}

#popchat_slidepop_image {
  width:100%;
  height:100%;
}

body > div#popchat_slidepop_box {
	position: fixed;
}

#popchat_slidepop_bouton {
  margin-top:10px;
}

#popchat_slidepop_bouton {
  position:absolute;
  color:#ffffff;
  -moz-border-radius: 20px;
  top:-8px;
  left:270px;
  background-color:#000000;
  font-family:arial;
  font-weight:bold;
  font-size:15px;
}

.popchat_slidepop_blanc {
  color:#ffffff;
  font-family:arial;
  font-weight:bold;
  font-size:15px;
  text-decoration:none;
}
