body {
  font-family:Tahoma;
  font-size:28px;
  color: #000000;
}

.tableBackground {
  background-color:#DDEEFF;
}

#maintitle {
  font-size:23px;
}

.sectionC {
  color: #9A411C;
}

textarea {
  font-family:Tahoma;
}

#pagetitle {
  font-size:15px;
  color:#8888BB;
}

#pagetitle A:link {
  text-decoration: underline;
  color:#8888BB;
}

#pagetitle A:visited {
  text-decoration: underline;
  color:#8888BB;
}

#pagetitle A:active {
  text-decoration: underline;
  color:#8888BB;
}

#pagetitle A:hover {
  text-decoration: underline;
  color:#8888BB;
}

.t1 {
  font-size:13px;
  color: #9A411C;
}

.t1 A:link {
  text-decoration: none;
  color: #9A411C;
}

.t1 A:visited {
  text-decoration: none;
  color: #9A411C;
}

.t1 A:active {
  text-decoration: none;
  color: #9A411C;
}

.t1 A:hover {
  text-decoration: none;
  color: #9A411C;
}

.normalT {
  font-size:12px;
  color: #000000;
}

.normalT A:link {
  text-decoration: none;
  color: #001188;
}

.normalT A:visited {
  text-decoration: none;
  color: #001188;
}

.normalT A:active {
  text-decoration: none;
  color: #001188;
}

.normalT A:hover {
  text-decoration: none;
  color: #001188;
}
.nav {
  font-size:14px;
  color: #000000;
}

.nav A:link {
  text-decoration: none;
  color: #001188;
}

.nav A:visited {
  text-decoration: none;
  color: #001188;
}

.nav A:active {
  text-decoration: none;
  color: #001188;
}

.nav A:hover {
  text-decoration: none;
  color: #001188;
}

