.middle {
  vertical-align: middle ;
}

.sectionP {
  text-align:left;
  margin-top:15px;
  margin-bottom:15px;
}

.cadresitetitle {
  text-align:left;
  padding:10;
  margin-top:15px;
  margin-bottom:15px;
  border-style:dashed;
  border-width:1px;
}

.sitetitle {
  text-align:left;
  margin-top:8px;
  margin-bottom:8px;
  font-weight: bold;
}

.sitetext {
  margin-top:5px;
  margin-bottom:5px;
}

.persotext {
  margin-top:5px;
  margin-bottom:5px;
}

.navigation {
  text-align:center;
}

.error {
  text-align:center;
  margin-top:5px;
  margin-bottom:5px;
  font-size:12px;
  color: #FF2222;
}

.confirm {
  text-align:center;
  margin-top:5px;
  margin-bottom:5px;
  font-size:12px;
  color: #22FF22;
}

#pagetitle {
  width:400px;
}
