  DIV#loading {
    width: 400px;
    background-color: #A4A4A4;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -100px;
    text-align: center;
    font-family: Georgia, "Courier New", "New Roman", Verdana, Serif.;
    font-weight: bold;
    font-size: 16px;
    border-style:inset;
    border-width:3px;
    border-color:#919191;
  }
  DIV#progressholder {
    Z-INDEX: 101;
    LEFT: 0px;
    OVERFLOW: hidden;
    WIDTH: 254px;
    POSITION: relative;
    TOP: 0px;
    HEIGHT: 16px;
    background-color:#A4A4A4;
  }

  DIV#progresswn {
    Z-INDEX: 1;
    LEFT: 2px;
    OVERFLOW: hidden;
    WIDTH: 252px;
    POSITION: absolute;
    TOP: 2px;
    HEIGHT: 14px
  }

  DIV#progresscontent {
    position:absolute;
    background-color: #EEEEEE;
    border: 1px solid #A4A4A4;
	width: 250px;
    height: 12px;
        left: 0px;
        top: 0px;
  }

  .progressbar {
    font-size:1px;
    position:absolute;
    height: 10px;
  }

  DIV#progressbar1 {
    left:-50px;
    width: 2px;
    background-color: #BBBBBB;
  }

  DIV#progressbar2 {
    left:-48px;
    width: 4px;
    background-color: #999999;
  }

  DIV#progressbar3 {
    left:-44px;
    width: 6px;
    background-color: #666666;
  }

  DIV#progressbar4 {
    left:-38px;
    width: 8px;
    background-color: #333333;
  }

  DIV#progressbar5 {
    left:-30px;
    width: 10px;
    background-color: #000000;
  }

  DIV#progressbar6 {
    left:-20px;
    width: 8px;
    background-color: #333333;
  }

  DIV#progressbar7 {
    left:-12px;
    width: 6px;
    background-color: #666666;
  }

  DIV#progressbar8 {
    left:-6px;
    width: 4px;
    background-color: #999999;
  }

  DIV#progressbar9 {
    left:-2px;
    width: 2px;
    background-color: #BBBBBB;
  }
