DIV.content {
  position: absolute;
  visibility: hidden;
  z-index: 1;
  left: 0px;
  top: 0px
}

TABLE#imgTbl TD {
  vertical-align: middle;
  text-align: center
}

DIV#holder {
  position: relative;
  overflow: hidden;
  z-index: 101;
  width: 482px;
  height: 286px;
  top: 19px;
  left: 32px;
}

DIV#wn {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  left: 11px;
  width: 460px;
  top: 11px;
  height: 234px
}

DIV#scrollbar {
  position: absolute;
  visibility: hidden;
  font-size: 1px;
  z-index: 0;
  left: 0px;
  top: 0px;
  width: 482px;
  height: 256px;
}

DIV#right {
  position: absolute;
  z-index: 2;
  right: 2px;
  top: 115px;
}

DIV#up_right {
  position: absolute;
  z-index: 2;
  right: 2px;
  top: 4px;
}

DIV#up {
  position: absolute;
  z-index: 2;
  left: 230px;
  top: 2px;
}

DIV#up_left {
  position: absolute;
  z-index: 2;
  left: 2px;
  top: 4px;
}

DIV#left {
  position: absolute;
  z-index: 2;
  left: 2px;
  top: 115px;
}

DIV#down_left {
  position: absolute;
  z-index: 2;
  left: 2px;
  bottom: 4px;
}

DIV#down {
  position: absolute;
  z-index: 2;
  left: 230px;
  bottom: 2px;
}

DIV#down_right {
  position: absolute;
  z-index: 2;
  right: 2px;
  bottom: 4px;
}

DIV#zoom {
  position: absolute;
  z-index: 2;
  left: 20px;
  bottom: 12px
}

DIV#dezoom {
  position: absolute;
  z-index: 3;
  right: 20px;
  bottom: 12px;
}

.destNumber {
  color:#FFFFFF;
  font-family: Arial;
  text-align: center;
}

.destNumber A:link {
  text-decoration: none;
  color:#FFFFFF;
}

.destNumber A:visited {
  text-decoration: none;
  color:#FFFFFF;
}

.destNumber A:active {
  text-decoration: none;
  color:#FFFFFF;
}

.destNumber A:hover {
  text-decoration: none;
  color:#FFFFFF;
}

#subWorldBorder {
  position:relative;
  display: table;
  font-weight:bold;
  width: 545px;
  height: 294px;
  margin: 0 auto;
  text-align:left;
  background-image: url('../pics/world/frame.gif');
}

#worldLegend {
  position:relative;
  display: table;
  font-weight:bold;
  width: 400px;
  height: 40px;
  margin: 0 auto;
  text-align:left;
  font-size:10px;
  background-image: url('../pics/world/subworld.gif');
}
