body {
  margin: 8px;
  padding: 0;
  text-align: center;
  height: 100%;
}

img {
  border: 0;
}

hr {
  border: none 0;
  border-top: 1px dashed #AAA;
  height: 1px;
}

#maintitle {
  position:relative;
  top:15px;
  left:20px;
}

#pagetitle {
  width:590px;
  text-align:left;
  padding-left:5px;
  padding-right:5px;
}

#mainbody {
  width:590px;
}

#nbUsers {
  text-align:center;
  font-size:10px;
  color:#FFFFFF;
}

#logout {
  position:relative;
  top:20px;
  left:700px;
  font-size:12px;
  color:#FFFFFF;
}

#logout A:link {
  text-decoration: none;
  color: #FFFFFF;
}

#logout A:visited {
  text-decoration: none;
  color: #FFFFFF;
}

#logout A:active {
  text-decoration: none;
  color: #FFFFFF;
}

#logout A:hover {
  text-decoration: none;
  color: #FFFFFF;
}

#admin {
  position:relative;
  top:5px;
  left:600px;
  font-size:12px;
  color:#FFFFFF;
}

#admin A:link {
  text-decoration: none;
  color: #FFFFFF;
}

#admin A:visited {
  text-decoration: none;
  color: #FFFFFF;
}

#admin A:active {
  text-decoration: none;
  color: #FFFFFF;
}

#admin A:hover {
  text-decoration: none;
  color: #FFFFFF;
}
