#headertopout {
  height:100px;
  width:808px;
}

#headertopin {
  height:1px;
  font-size:1px;
}

#headerbottomout {
  height:45px;
  width:808px;
  font-size:5px;
}

#headerbottomin {
  height:5px;
  font-size:3px;
}

#headerleftout {
  width:1px;
  font-size:1px;
}

#headerleftin {
  width:189px;
}

#headerrightout {
  width:1px;
  font-size:1px;
}

#headerrightin {
  width:617px;
}

.rbtop div, .rbtop, .rbbot div, .rbbot {
width: 100%;
height: 7px;
font-size: 1px;
}
.rbcontent { margin: 0 7px; }
.rbroundbox { width: 100%; margin: 1em auto; }
