#divmenu {
  margin:5px;
  position:relative;
  text-align: left;
  clear:both;
  border-style:solid;
  border-width:1px;
}

.tablemenu {
  margin-top:5px;
  margin-bottom:5px;
}

.menutitle {
  text-align:left;
  margin-top:8px;
  margin-bottom:8px;
}

.menutext {
  margin-top:5px;
  margin-bottom:5px;
}

.rbtopMenu div, .rbtopMenu, .rbbotMenu div, .rbbotMenu {
width: 100%;
height: 7px;
font-size: 1px;
}
.rbcontentMenu { margin: 0 7px; }
.rbroundboxMenu { width: 90%; margin: 1em auto; }
