{config_load file=$userLanguage|cat:"/footer_"|cat:$userLanguage|cat:".conf"}
{config_load file="file.conf"}
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      </div><div class="rbbot"><div></div></div></div>
     </td>
    <td id="headerrightout">&nbsp;</td>
  {if ($path)}
  <tr valign="bottom">
    <td id="headerleftout">&nbsp;</td>
    <td id="headerleftin" class="tableBackground">&nbsp;</td>
    <td id="headerrightin" class="tableBackground">
      <p align="right" style="margin-right:15px"><a href="#top"><img src="{$picPath}top.gif" style="border:0px" /></a></p>
    </td>
    <td id="headerrightout">&nbsp;</td>
  </tr>
  {/if}
  </tr>
  <tr>
    <td id="headerleftout">&nbsp;</td>
    <td colspan="2" id="headerbottomin" class="tableBackground">&nbsp;</td>
    <td id="headerrightout">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4">
      <div id="headerbottomout"></div>
    </td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
    <td colspan="2" align="right"><a href="{#PAGE_CONTACT#}?first=true&webmaster=true&album={$albumName}{$session}"><img src="{$picPath}webmaster.gif" /></a></td>
  </tr>
  </tbody>
</table>

{if $jsErrorOn}
{if ($error<>'')}
<script language="JavaScript" type="text/javascript">
<!--
  alert ("{$error|sslash}", "errorAlert");
// -->
</script>
{elseif ($confirm<>'')}
<script language="JavaScript" type="text/javascript">
<!--
  alert ("{$confirm|sslash}", "confirmAlert");
// -->
</script>
{elseif ($sendNews)}
<script language="JavaScript" type="text/javascript">
<!--
  createCustomConfirm('{#sendNews#}');
  document.getElementById('confirmBtn').onclick = function() {literal}{{/literal}go('{#PAGE_SENDNEWS#}?dest={$sendNews}');{literal}}{/literal};
// -->
</script>
{/if}
{/if}

<script language="JavaScript" type="text/javascript">
<!--
  {if $chatOn}getCallsFromServer(document.getElementById('blocCalls'));{/if}
{literal}
  if (document.getElementById("loading")) {
    document.getElementById("loading").style.display="none";
    stopProgress = true;
  }
{/literal}
// -->
</script>

</body>
</html>
