<html>

<head>

<style type="text/css">
<!--
{literal}
  body { background-image:url({/literal}{$picPath}{literal}earth.jpg);
         background-color:#FFFFFF;
         background-attachment:fixed}

  img {border:0px;}

  p {margin-left:50px;color:white;font-size:18px}

  p a:link {text-decoration:none;color:red}

  p a:visited {text-decoration:none;color:red}

  select {font-size: 20px;}

{/literal}
-->
</style>

<script type="text/javascript">
<!--
{literal}
  function goToUser (selected) {
    if (selected!=0) location.href = selected;
  }
{/literal}
-->
</script>

{$headerWorldmap}

</head>

<body bottommargin="0" topmargin="0" leftmargin="0" rightmargin="0" marginheight="0" marginwidth="0" onload="initWorld(0, 0, 1);">

<br />
<p><img src="{$picPath}title.gif" /></p>

{if $worldmap}
<br />
<div style="left:50px;width:600px;text-align: center;">
<div>
    {$worldmap}
</div>
</div>
{/if}

<form name="form">
<p><img src="{$picPath}text1.gif"/>
{html_select obj=$names name='name' id='link' value='name' js='onChange="goToUser(form.name.options[form.name.selectedIndex].value)"' default="Sélectionnez..."}
</p>
<br />
<p><img src="{$picPath}text2.gif" /></p>
<p><a href="http://www.lahode.ch"><img src="../lib/pics/powered.jpg" height="15" style="vertical-align: middle;"/></a></p>
</form>

</body>
</html>
