<script language="JavaScript">
  {literal}
  if (document.layers) {
    document.write('<ilayer class="sitetext" id="ns4div" width='+swidth+' height='+sheight+' bgcolor='+sbcolor+'><layer id="ns4div1" width='+swidth+' height='+sheight+' onmouseover="rspeed=sspeed;sspeed=0;" onmouseout="sspeed=rspeed"></layer></ilayer>')
  }
  if (document.getElementById||document.all) {
    document.write('<div class="sitetext" style="float:left;position:relative;overflow:hidden;width:'+swidth+';height:'+sheight+';clip:rect(0 '+swidth+' '+sheight+' 0);background-color:'+sbcolor+';" onmouseover="rspeed=sspeed;sspeed=0;" onmouseout="sspeed=rspeed"><div id="iens6div" style="position:absolute;height:'+sheight+';"></div></div>');
  }
  {/literal}
</script>
<div style="float:right;position:relative" class="sitetext">
  <a href="#" onClick="speeddown();">
    <img src="{$picPath}/minus.gif" border="0" width="16" height="16" />
  </a>
  <a href="#" onClick="speedup();">
    <img src="{$picPath}/plus.gif" border="0" width="16" height="16" />
  </a>
  &nbsp;&nbsp;
</div>
