{literal}
<table cellpadding="0" cellspacing="0" border="0" style="width:500px;text-align:center;background:black;">
  <tr>
    <td colspan="4">
      &nbsp;
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <img name="SLIDESIMG" src="" height="300" border="0" alt="slideshow image"
       style="filter:progid:DXImageTransform.Microsoft.Fade()" />
    </td>
  </tr>
  <tr>
    <td valign="center" colspan="4">
      <p>
      <div ID="SLIDESTEXT" style="color:#FFFFFF">
        <script type="text/javascript">
          <!--
            document.write("<UL>\n");
            document.write(SLIDES.get_all_text("<li>", "\n"));
            document.write("<" + "/UL>");
          //-->
        </script>
      </div>
      <br />
      </p>
    </td>
  </tr>
  <tr style="background:white;">
    <td>
      <a href="javascript:SLIDES.previous()"><img src="../lib/pics/slideshow/prev.gif" border="0" /></a>
    </td>
    <td>
      <a href="javascript:SLIDES.play()"><img src="../lib/pics/slideshow/play.gif" border="0" /></a>
    </td>
    <td>
      <a href="javascript:SLIDES.pause()"><img src="../lib/pics/slideshow/pause.gif" border="0" /></a>
    </td>
    <td>
      <a href="javascript:SLIDES.next()"><img src="../lib/pics/slideshow/next.gif" border="0" /></a>
    </td>
  </tr>
</table>
{/literal}

