.maintitle {
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #8888BB;
}

.maintitle A:link {
  text-decoration: none;
  color: #8888BB;
}

.maintitle A:visited {
  text-decoration: none;
  color: #8888BB;
}

.maintitle A:active {
  text-decoration: none;
  color: #8888BB;
}

.maintitle A:hover {
  text-decoration: none;
  color: #8888BB;
}

.cadremaintitle {
  color: #8888BB;
}
