.menutext {
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}

.menutext A:link {
  text-decoration: none;
  color: #001188;
}

.menutext A:visited {
  text-decoration: none;
  color: #001188;
}

.menutext A:active {
  text-decoration: none;
  color: #001188;
}

.menutext A:hover {
  text-decoration: none;
  color: #001188;
}

.cadremenutext {
  color: #000000;
}
