.menutitle {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #9A411C;
}

.menutitle A:link {
  text-decoration: none;
  color: #9A411C;
}

.menutitle A:visited {
  text-decoration: none;
  color: #9A411C;
}

.menutitle A:active {
  text-decoration: none;
  color: #9A411C;
}

.menutitle A:hover {
  text-decoration: none;
  color: #9A411C;
}

.cadremenutitle {
  color: #9A411C;
}
