.navigation {
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #8888BB;
}

.navigation A:link {
  text-decoration: none;
  color: #8888BB;
}

.navigation A:visited {
  text-decoration: none;
  color: #8888BB;
}

.navigation A:active {
  text-decoration: none;
  color: #8888BB;
}

.navigation A:hover {
  text-decoration: none;
  color: #8888BB;
}

.cadrenavigation {
  color: #8888BB;
}
