.pagetitle {
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #8888BB;
}

.pagetitle A:link {
  text-decoration: none;
  color: #8888BB;
}

.pagetitle A:visited {
  text-decoration: none;
  color: #8888BB;
}

.pagetitle A:active {
  text-decoration: none;
  color: #8888BB;
}

.pagetitle A:hover {
  text-decoration: none;
  color: #8888BB;
}

.cadrepagetitle {
  color: #8888BB;
}
