.persotext {
  font-size: 13px;
  font-style: italic;
  font-weight: normal;
  text-decoration: none;
  color: #556B2F;
}

.persotext A:link {
  text-decoration: none;
  color: #001188;
}

.persotext A:visited {
  text-decoration: none;
  color: #001188;
}

.persotext A:active {
  text-decoration: none;
  color: #001188;
}

.persotext A:hover {
  text-decoration: none;
  color: #001188;
}

.cadrepersotext {
  color: #556B2F;
}
