.sitetitle {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #9A411C;
}

.sitetitle A:link {
  text-decoration: none;
  color: #9A411C;
}

.sitetitle A:visited {
  text-decoration: none;
  color: #9A411C;
}

.sitetitle A:active {
  text-decoration: none;
  color: #9A411C;
}

.sitetitle A:hover {
  text-decoration: none;
  color: #9A411C;
}

.cadresitetitle {
  color: #9A411C;
}
