.sitetext {
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
}

.sitetext A:link {
  text-decoration: none;
  color: #001188;
}

.sitetext A:visited {
  text-decoration: none;
  color: #001188;
}

.sitetext A:active {
  text-decoration: none;
  color: #001188;
}

.sitetext A:hover {
  text-decoration: none;
  color: #001188;
}

.cadresitetext {
  color: #000000;
}
